---
layout: home
---

<table>
  <tr>
    <th>Position</th>
    <th>Team</th>
    <th>Played</th>
    <th>Points</th>
  </tr>
  {% for team in site.data.epl201718.standing %}
    <tr>
      <td>{{ team.position }}</td>
      <td>{{ team.teamName }}</td>
      <td>{{ team.playedGames }}</td>
      <td>{{ team.points }}</td>
    </tr>
  {% endfor %}
</table>

<table>
  <tr>
    <th>Home</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Away</th>
    <th>Status</th>
  </tr>
  {% for games in site.data.epl201718fix.fixtures %}
    {% if games.homeTeamName == "Liverpool FC" or games.awayTeamName == "Liverpool FC" %}
      <tr>
        <td>{{ games.homeTeamName }}</td>
        <td>{{ games.result.goalsHomeTeam }}</td>
        <td>-</td>
        <td>{{ games.result.goalsAwayTeam }}</td>
        <td>{{ games.awayTeamName }}</td>
        <td>{{ games.status }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
