{% if page.leagueId == 445 %}
  {% assign leagueStandings = site.data.epl-201718-standings.standing %}
{% endif %}
{% if page.leagueId == 446 %}
  {% assign leagueStandings = site.data.elc-201718-standings.standing %}
{% endif %}
{% if page.leagueId == 447 %}
  {% assign leagueStandings = site.data.el1-201718-standings.standing %}
{% endif %}
{% if page.leagueId == 448 %}
  {% assign leagueStandings = site.data.el2-201718-standings.standing %}
{% endif %}
{% if page.leagueId == 450 %}
  {% assign leagueStandings = site.data.fl1-201718-standings.standing %}
{% endif %}
{% if page.leagueId == 451 %}
  {% assign leagueStandings = site.data.fl2-201718-standings.standing %}
{% endif %}
{% if page.leagueId == 452 %}
  {% assign leagueStandings = site.data.bl1-201718-standings.standing %}
{% endif %}
{% if page.leagueId == 453 %}
  {% assign leagueStandings = site.data.bl2-201718-standings.standing %}
{% endif %}
{% if page.leagueId == 455 %}
  {% assign leagueStandings = site.data.pd-201718-standings.standing %}
{% endif %}
{% if page.leagueId == 456 %}
  {% assign leagueStandings = site.data.sa-201718-standings.standing %}
{% endif %}
{% if page.leagueId == 459 %}
  {% assign leagueStandings = site.data.sb-201718-standings.standing %}
{% endif %}
{% if page.leagueId == 464 %}
  {% assign leagueStandings = site.data.cl-201718-standings.standing %}
{% endif %}


<section id="standingsSection">
  <table class="standings">
    <tr class="standingsHeader">
      <th class="position"></th>
      <th class="clubname"></th>
      <th class="played">Pl</th>
      <th class="won">W</th>
      <th class="drawn">D</th>
      <th class="lost">L</th>
      <th class="goalsfor">GF</th>
      <th class="goalsagainst">GA</th>
      <th class="goaldiff">Diff</th>
      <th class="points">Pts</th>
    </tr>
    {% for team in leagueStandings %}
      <tr class="standingsRow">
        <td class="position">{{ team.position }}</td>
        <td class="clubname"><a href="{{ team.teamName | replace: " ", "-" | replace: "&", "and" }}">{{ team.teamName | replace: " FC", "" }}</a></td>
        <td class="played">{{ team.playedGames }}</td>
        <td class="won">{{ team.wins }}</td>
        <td class="drawn">{{ team.draws }}</td>
        <td class="lost">{{ team.losses }}</td>
        <td class="goalsfor">{{ team.goals }}</td>
        <td class="goalsagainst">{{ team.goalsAgainst }}</td>
        <td class="goaldiff">{{ team.goalDifference }}</td>
        <td class="points">{{ team.points }}</td>
      </tr>
    {% endfor %}
  </table>
</section>
