
body
  font-family: 'Raleway'
  max-width: 800px
  margin: 0 auto
  line-height: 1.5
  padding: 4em 1em

.logo
  a, a:visited
    color: #f48042
    font-family: 'Lobster', cursive
    font-size: 1.5em

button
    color: red
    font-size: 8pt
    background-color: Transparent
    background-repeat: no-repeat
    border: 1px solid red
    border-radius: 10px
    cursor: pointer
    overflow: hidden
    outline: none


#standingsSection
  .standings
    min-width: 400px
    color: #445c7b
    font-size: 12px
    font-weight: 500
    line-height: 16px
    margin-bottom: 36px

  .position
    text-align: center


  table
    border: none
    border-collapse: collapse
    th, td
      padding: 5px
      border-bottom: 2px solid lightgrey

  .standingsRow
    .won, .drawn, .lost, .goalsfor, .goalsagainst, .goaldiff, .points
      text-align: center
    .goalsfor, .goalsagainst
      border-radius: 15%
      color: white

    .goalsfor
      background: green

    .goalsagainst
      background: red

  a, a:visited
    color: #445c7b
    text-decoration: none

  a:hover
    color: purple
    text-decoration: none

#fixturesSection
  .nextLeagueFixtures
    color: #445c7b
    font-family: 'Raleway'
    font-size: 12px
    font-weight: 500
    line-height: 16px

  .homeTeam
    text-align: right

  .awayTeam
    text-align: left
