$primary-color: #f48042

body
  font-family: 'Raleway'
  max-width: 900px
  margin: 0 auto
  line-height: 1.5
  padding: 2em 1em

header
  border-bottom: 1px solid lightgrey
  .logo
    padding: .5em .5em
    a, a:visited
      color: $primary-color
      font-family: 'Lobster', cursive
      font-size: 2em
      text-decoration: none


.league-summary
  display: flex
  align-content: space-around
  flex-wrap: wrap

button
    color: red
    font-size: 8pt
    background-color: Transparent
    background-repeat: no-repeat
    border: 1px solid red
    border-radius: 10px
    cursor: pointer
    overflow: hidden
    outline: none


#standingsSection
  border: 2px $primary-color solid
  border-radius: 15px
  margin: 5px 10px
  padding: 10px
  .standings
    min-width: 400px
    color: #445c7b
    font-size: 12px
    font-weight: 500
    line-height: 16px

  .position
    text-align: center


  table
    border: none
    border-collapse: collapse
    th, td
      padding: 5px
      border-bottom: 2px solid lightgrey

  .standingsRow
    .won, .drawn, .lost, .goalsfor, .goalsagainst, .goaldiff, .points
      text-align: center
    .goalsfor, .goalsagainst
      border-radius: 15%
      color: white

    .goalsfor
      background: green

    .goalsagainst
      background: red

  a, a:visited
    color: #445c7b
    text-decoration: none

  a:hover
    color: purple
    text-decoration: none

#fixturesSection
  .nextLeagueFixtures
    border: 2px $primary-color solid
    border-radius: 15px
    margin: 5px 10px
    padding: 10px
    color: #445c7b
    font-family: 'Raleway'
    font-size: 12px
    font-weight: 500
    line-height: 16px

  .homeTeam
    text-align: right

  .awayTeam
    text-align: left
